<section class="container-fluid">
  <mat-card>
    <mat-card-title>
      <h1>Create New Electrical And Appliance</h1>
    </mat-card-title>

    <mat-divider></mat-divider>
    <mat-card-content>
      <form [formGroup]="newBidItemForm" class="mat-elevation-z4 centered form col-lg-6 col-md-10 col-sm-12"
        enctype="application/x-www-form-url-encoded">

        <div class="alert alert-danger" role="alert" *ngIf="ErrMsg">
          <h5>{{ ErrMsg }}</h5>
        </div>


        <mat-form-field appearance="fill" class="p-1  form-control">
          <mat-label>Name </mat-label>
          <mat-icon matPrefix class="material-symbols-outlined">info</mat-icon>
          <mat-hint align="end">Name of the Item</mat-hint>
          <input type="text" matInput formControlName="name" placeholder="Item Name">
        </mat-form-field>


        <mat-form-field>
          <mat-label>Date When Bid Opens</mat-label>
          <input type="datetime-local" matInput formControlName="bid_opens">
          <mat-hint>MM/DD/YYYY Date When Bid Opens</mat-hint>
        </mat-form-field>


 
        <mat-form-field>
          <mat-label> Date When Bid Closes</mat-label>
          <input type="datetime-local" matInput formControlName="bid_closes">
          <mat-hint>MM/DD/YYYY Date When Bid Closes</mat-hint>
        </mat-form-field>


        <mat-grid-list cols="3" rowHeight="3:1">
          <mat-grid-tile *ngFor="let img of imageURLs">
            <img src="{{ img }}" mat-card-lg-image class="image-fluid d-block" alt="Image To Be Uploaded" />
          </mat-grid-tile>
        </mat-grid-list>

        <button mat-raised-button class="p-1">
          <mat-icon class="material-symbols-outlined">attachment</mat-icon>
          <input type="file" id="attachments" (change)="onFileChange($event)" accept="*" multiple />
        </button>

        <mat-form-field appearance="fill" class="p-1  form-control">
          <mat-label>Full Description</mat-label>
          <mat-icon matPrefix class="material-symbols-outlined">info</mat-icon>
          <mat-hint align="end">Full Description Of The Item.</mat-hint>
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="auto"
            cdkAutosizeMaxRows="auto" formControlName="description">
          </textarea>
        </mat-form-field>


        <mat-form-field appearance="fill" class="p-1  form-control">
          <mat-label>Price Amount</mat-label>
          <mat-icon matPrefix class="material-symbols-outlined">info</mat-icon>
          <mat-hint align="end">Amount</mat-hint>
          <input type="number" matInput formControlName="price_amount" placeholder="Price Amount">
        </mat-form-field>

        <mat-form-field appearance="fill" class="p-1  form-control">
          <mat-label>Location </mat-label>
          <mat-icon matPrefix class="material-symbols-outlined">info</mat-icon>
          <mat-hint align="end">Pick-up Location / Collection Point</mat-hint>
          <input type="text" matInput formControlName="location" placeholder="Business Location">
        </mat-form-field>



        <mat-card-actions class="align-buttons-center">
          <button type="submit" mat-raised-button color="primary" (click)="ngOnSubmit()"
            [disabled]="!newBidItemForm.valid"><mat-icon class="material-symbols-outlined">save</mat-icon>Save Ad</button>
          <button type="reset" mat-raised-button color="warn"
            (click)="resetForm()"><mat-icon class="material-symbols-outlined">cancel</mat-icon>Clear</button>
        </mat-card-actions>


      </form>
    </mat-card-content>
  </mat-card>
</section>
