<section class="container-fluid">
  <mat-card class="mat-elevation-z8 card p-2 m-1" *ngIf="Item">
    <div class="d-flex flex-column">
      <div id="BidImagesCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active" *ngFor="let entry of Item.item_images">
            <img src="{{  entry }}" alt="MDQ" class="object-fit-fill rounded mx-auto d-block img-fluid" />
          </div>

        </div>
        <button mat-icon-button class="carousel-control-prev text-accent" color="warn"
          data-bs-target="#BidImagesCarousel" data-bs-slide="prev">
          <mat-icon class="material-symbols-outlined">arrow_back_ios</mat-icon>
        </button>
        <button mat-icon-button class="carousel-control-next text-accent" color="warn"
          data-bs-target="#BidImagesCarousel" data-bs-slide="next">
          <mat-icon class="material-symbols-outlined">arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>

    <div class="card-body">
      <h2 class="card-title">{{ Item.name }}</h2>
      <p class="card-text">{{ Item.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h3 class="fs-3 text-accent">{{ Item.price_amount | currency }}</h3>
      </li>
      <li class="list-group-item">
        <h5 class="fs-5 text-black">{{ Item.location }}</h5>
      </li>
    </ul>
    <div class="card-body">
      <div class="alert alert-info" role="alert">
        <h4 class="fs-4">Amount Available: <span class="text-warn">{{ WalletBalance | currency }}</span></h4>
      </div>

      <mat-accordion class="mat-elevation-z8">
        <mat-expansion-panel>
          <mat-expansion-panel-header class="m-2 p-2">
            <mat-panel-title>
              <h5 class="fs-5 text-primary">Open To Buy</h5>
            </mat-panel-title>
            <mat-panel-description>
              <button mat-icon-button color="primary">
                <mat-icon class="material-symbols-outlined">paid</mat-icon>
              </button>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card class="mat-elevation-z6">
            <mat-card-content>
              <form [formGroup]="accountForm" class="mat-elevation-z4 centered form col-lg-6 col-md-10 col-sm-12"
                enctype="application/x-www-form-url-encoded">


                <mat-form-field appearance="fill" class="p-1  form-control">
                  <mat-label>Amount</mat-label>
                  <mat-icon matPrefix class="material-symbols-outlined">info</mat-icon>
                  <mat-hint align="end">Amount</mat-hint>
                  <input type="number" matInput formControlName="amount" [(ngModel)]="Item.price_amount">
                </mat-form-field>

                <mat-card-actions class="align-buttons-center">
                  <button type="submit" mat-raised-button color="primary" (click)="onBuy()"
                    [disabled]="!accountForm.valid"><mat-icon
                      class="material-symbols-outlined">paid</mat-icon>Buy</button>
                  <button type="reset" mat-raised-button color="warn"><mat-icon
                      class="material-symbols-outlined">cancel</mat-icon>Clear</button>
                </mat-card-actions>


              </form>
              <div class="alert alert-success" role="alert">
                <h4 class="fs-4 text-success">{{ Response }}</h4>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>


      <mat-divider></mat-divider>


      <mat-accordion class="mat-elevation-z8">
        <mat-expansion-panel>
          <mat-expansion-panel-header class="m-2 p-2">
            <mat-panel-title>
              <h5 class="fs-5 text-accent">Open To Bid </h5>
            </mat-panel-title>
            <mat-panel-description>
              <button mat-icon-button color="primary">
                <mat-icon class="material-symbols-outlined">gavel</mat-icon>
              </button>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card class="mat-elevation-z6">
            <mat-card-content>
              <form [formGroup]="newBidForm" class="mat-elevation-z4 centered form col-lg-6 col-md-10 col-sm-12"
                enctype="application/x-www-form-url-encoded">

                <mat-form-field appearance="fill" class="p-1  form-control">
                  <mat-label>Topic ID</mat-label>
                  <mat-icon matPrefix class="material-symbols-outlined">info</mat-icon>
                  <mat-hint align="end">Topic ID</mat-hint>
                  <input type="text" matInput formControlName="topicID" [(ngModel)]="Item.topicID" editable="false">
                </mat-form-field>


                <mat-form-field appearance="fill" class="p-1  form-control">
                  <mat-label>Bid Amount</mat-label>
                  <mat-icon matPrefix class="material-symbols-outlined">info</mat-icon>
                  <mat-hint align="end">Bid Amount</mat-hint>
                  <input type="number" matInput formControlName="bid_amount" placeholder="Bid Amount">
                </mat-form-field>

                <mat-divider></mat-divider>


                <mat-card-actions class="align-buttons-center">
                  <button type="submit" mat-raised-button color="primary" (click)="ngOnSubmit()"
                    [disabled]="!newBidForm.valid"><mat-icon class="material-symbols-outlined">gavel</mat-icon>Submit
                    Bid</button>
                  <button type="reset" mat-raised-button color="warn"><mat-icon
                      class="material-symbols-outlined">cancel</mat-icon>Clear</button>
                </mat-card-actions>


              </form>
              <mat-divider></mat-divider>
              <div class="alert alert-success" role="alert">
                <h4 class="fs-4 text-success">{{ Response }}</h4>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>

      </mat-accordion>
    </div>

    <div class="card-footer">
      <button mat-raised-button color="primary" class="text-white" (click)="openOnHashScan(Item.topicID )">
        <mat-icon class="material-symbols-outlined">swap_vertical_circle</mat-icon>
        View Similar Bids On Hash Scan
      </button>

      <button mat-raised-button color="accent" class="text-white" (click)="subscribeToTopic(Item.topicID )">
        <mat-icon class="material-symbols-outlined">swap_horizontal_circle</mat-icon>
        Subscribe For Messages
      </button>


    </div>
    <div class="alert alert-dark" role="alert">
      <h4 class="fs-4 text-dark">{{ SubscriptionResponse }}</h4>
    </div>
  </mat-card>

  <mat-card *ngIf="!Item">
    <mat-progress-bar mode="buffer" color="primary"></mat-progress-bar>
    <h2>Loading Item.....</h2>
  </mat-card>

</section>